.theme-toggle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.theme-toggle-button:hover {
    transform: rotate(360deg);
}